{% extends 'layout/admin.twig' %}
{% set pageTitle = 'Change your password' %}
{% block nav %}{% endblock %}
{% block body %}

    <body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            {% if token == user.token %}
                                {% if user.expDate <= now %}
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-100 mb-2">Change your password</h1>
                                            <p class="mb-4">Just enter your new password and we'll do the rest!</p>
                                        </div>
                                        <form class="user" method="post" action="{{ route('user.change') }}" >
                                            <div class="form-group">
                                                <input type="hidden" value="{{ key }}" name="username">
                                                <input type="hidden">
                                                <input type="password" class="form-control form-control-user"
                                                       id="password" aria-describedby="passwordHelp"
                                                       placeholder="Enter password...">
                                                <input type="password" class="form-control form-control-user"
                                                       id="confirmPassword" aria-describedby="passwordHelp"
                                                       placeholder="Confirm password...">
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Change Password
                                            </button>
                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="{{ route('user.register') }}">Create an Account!</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" href="{{ route('user.login') }}">Already have an account? Login!</a>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="p-5 text-center">
                                        <p>This link is invalid !</p>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{{ route('user.forgot') }}">Send another link !</a>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="p-5 text-center">
                                    <p>This link is invalid !</p>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{{ route('user.forgot') }}">Send another link !</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
{% block extra %}{% endblock %}
